html, body {
    height: 100%; /* Ensure the html and body are full height */
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
}

#root {
    display: flex;
    flex-direction: column; /* Makes the children stack vertically */
    min-height: 100%; /* Minimum height is the full viewport height */
}

main {
    display: flex;
    flex-direction: column; /* Stack main children vertically */
    flex: 1; /* Allows main to expand and push the footer to the bottom */
}

.footer-wrap {
    margin-top: auto; /* Pushes the footer to the bottom */
}